@value makerFOrange, makerFGreen, makerGreen, makerBlack, makerWhite from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.header {
  width: 100%;
  height: 8em;
  text-align: center;
  padding: 0.5em;
  background-color: makerFGreen;
  position: relative;
}

/* .logo {
  width: 3em;
} */

.title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  font-size: 6rem;
  color: makerBlack;
}

.title.loginHead {
  font-size: 4rem;
}

.earth {
  position: absolute;
  width: 4.2rem;
  right: 0.4rem;
  bottom: 2.5rem;
}

.logout {
  position: absolute;
  right: 0.5rem;
  bottom: 0.8rem;
  padding: 0.8em;
  border-radius: 50%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: mediaQuery) {
  .title {
    font-size: 4rem;
  }
}
