@value makerFOrange, makerFGreen, makerBlack, makerGreen from '../../common/colors.css';

.footer {
  width: 100%;
  background-color: makerFGreen;
  text-align: center;
}

.title {
  color: makerBlack;
}
